<%- include('../layout/head.ejs', { tags: ['error'] }) -%>
<main class="container">
    <h1 ><%=message%></h1>
    <pre><%=error%></pre>
    <h2>Origin</h2>
    <pre><%=origin%></pre>
</main>
<%- include('../layout/foot.ejs') -%>
